<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Quiz</title>
  <style>
      body {
          margin: 0;
          height: 100vh;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          background: url('https://images.pexels.com/photos/956981/milky-way-starry-sky-night-sky-star-956981.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2') no-repeat center center fixed;
          background-size: cover;
          font-family: Montserrat, sans-serif;
          color: #fff;
          position: relative;
      }

      body::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: rgba(0, 0, 0, 0.3);
          z-index: 0;
      }

      .container {
          width: 80%;
          max-width: 800px;
          padding: 40px;
          border-radius: 10px;
          position: relative;
          display: flex;
          flex-direction: column;
          align-items: center;
      }

      .question-box {
          border: 0 solid #ccc;
          border-radius: 0;
          padding: 40px;
          text-align: center;
          margin-bottom: 20px;
          color: white;
          flex-grow: 1;
      }

      .button-grid {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          gap: 20px;
          text-align: center;
          width: 100%;
          margin-top: 20px;
      }

      .button {
          padding: 20px;
          border: 2px solid white;
          border-radius: 10px;
          font-size: 32px;
          width: 100%;
          cursor: pointer;
          transition: all 0.3s ease-in-out;
      }

      .buttonBack {
          position: absolute;
          border: 2px solid white;
          bottom: 10px;
          left: 2.5%;
          bottom: 0;
          transform: translateX(-50%);
          padding: 10px 10px;
          font-size: 16px;
          cursor: pointer;
      }

      .button:hover {
          background-color: lightgrey;
          border-color: #ccc;
      }

      h2 {
          font-size: 48px;
          margin-top: 0;
          margin-bottom: 20px;
      }

      p {
          font-size: 24px;
          color: #fff;
      }

      .happy, .sad {
          width: 150px;
          height: 150px;
          margin-top: 20px;
      }
  </style>
</head>
<body>

<div class="container">
  <% iu = session[:current_question] %>
  <% your_answer = session[:your_answer] %>
  <% quest = Question.find_by(id: iu) %>
  <% user = User.find(session[:user_id]) %>
  <% config = user.see_correct %>
  <% selected_answer = Answer.find_by(id: your_answer) %>
  <% if QuestionUser.exists?(user: user, question: quest) %>
    <% question_user = QuestionUser.find_by(user: user, question: quest) %>
    <% if quest && selected_answer.correct %>
      <% if question_user[:correct] %>
        <div class="container">
          <p> Correct answer, but you have already answered correctly before.</p>
          <img class="happy" src="https://images.vexels.com/media/users/3/160984/isolated/preview/131b54bb87efa05876ad7ae969806757-planeta-tierra-felicidad-reir-sonrisa-plana.png" alt="Happy Image">
          <audio class="correctSound" autoplay>
            <source src="/correctAnswer.mp3" type="audio/mp3">
            Your browser does not support the audio element.
          </audio>
        </div>
      <% else %>
        <% actual_score = session[:score_user] %>
        <% session[:score_user] = actual_score + (quest.scoreQuestion / 2) %>
        <% user.update(score: session[:score_user]) %>
        <% user.save %>
        <div class="container">
          <p>Correct answer, and it's not your first attempt, +<%= quest.scoreQuestion / 2 %> points, total points: <%= session[:score_user] %></p>
          <img class="happy" src="https://images.vexels.com/media/users/3/160984/isolated/preview/131b54bb87efa05876ad7ae969806757-planeta-tierra-felicidad-reir-sonrisa-plana.png" alt="Happy Image">
          <audio class="correctSound" autoplay>
            <source src="/correctAnswer.mp3" type="audio/mp3">
            Your browser does not support the audio element.
          </audio>
        </div>
        <% question_user.update(correct: true) %>
      <% end %>
    <% else %>
      <% if config %>
        <div class="container">
          <p>Your answer is wrong, the correct answer is: <%= quest.correct_answer.description %>. <%= quest.why_is_wrong %></p>
          <img class="sad" src="https://images.vexels.com/media/users/3/160987/isolated/preview/c583efe4654749625deaa8104757418d-planeta-tierra-tristeza-melancolia-plana.png" alt="Sad Image">
          <audio class="wrongSound" autoplay>
            <source src="/wrongAnswer.mp3" type="audio/mp3">
            Your browser does not support the audio element.
          </audio>
        </div>
      <% else %>
        <div class="container">
          <p>Your answer is wrong.</p>
          <img class="sad" src="https://images.vexels.com/media/users/3/160987/isolated/preview/c583efe4654749625deaa8104757418d-planeta-tierra-tristeza-melancolia-plana.png" alt="Sad Image">
          <audio class="wrongSound" autoplay>
            <source src="/wrongAnswer.mp3" type="audio/mp3">
            Your browser does not support the audio element.
          </audio>
        </div>
      <% end %>
    <% end %>
  <% else %>
    <% if quest && selected_answer.correct %>
      <% actual_score = session[:score_user] %>
      <% session[:score_user] = actual_score + quest.scoreQuestion %>
      <% user.update(score: session[:score_user]) %>
      <% user.save %>
      <div class="container">
        <p>Correct answer, +<%= quest.scoreQuestion %> points, total points: <%= session[:score_user] %></p>
        <img class="happy" src="https://images.vexels.com/media/users/3/160984/isolated/preview/131b54bb87efa05876ad7ae969806757-planeta-tierra-felicidad-reir-sonrisa-plana.png" alt="Happy Image">
        <audio class="correctSound" autoplay>
          <source src="/correctAnswer.mp3" type="audio/mp3">
          Your browser does not support the audio element.
        </audio>
      </div>          
      <% QuestionUser.create(user: user, question: quest, correct: true) %>
    <% else %>
      <% if config %>
        <div class="container">
          <p>Your answer is wrong, the correct answer is: <%= quest.correct_answer.description %>. <%= quest.why_is_wrong %></p>
          <img class="sad" src="https://images.vexels.com/media/users/3/160987/isolated/preview/c583efe4654749625deaa8104757418d-planeta-tierra-tristeza-melancolia-plana.png" alt="Sad Image">
          <audio class="wrongSound" autoplay>
            <source src="/wrongAnswer.mp3" type="audio/mp3">
            Your browser does not support the audio element.
          </audio>
        </div>
      <% else %>
        <div class="container">
          <p>Your answer is wrong.</p>
          <img class="sad" src="https://images.vexels.com/media/users/3/160987/isolated/preview/c583efe4654749625deaa8104757418d-planeta-tierra-tristeza-melancolia-plana.png" alt="Sad Image">
          <audio class="wrongSound" autoplay>
            <source src="/wrongAnswer.mp3" type="audio/mp3">
            Your browser does not support the audio element.
          </audio>
        </div>
      <% end %>
      <% QuestionUser.create(user: user, question: quest, correct: false) %>
    <% end %>
  <% end %>
  <form method="post">
    <input type="hidden" name="nextQuestion">
    <button type="submit" class="button">Next question</button>
  </form>
</div>

<script>
  window.addEventListener('DOMContentLoaded', (event) => {
    document.querySelectorAll('audio').forEach(audio => {
      audio.volume = 0.1;
    });
  });
</script>

</body>
</html>
