<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="styles/timeTrial.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Time Trial</title>
  <script>
  function startTimer() {
    const timerElement = document.getElementById('timer');
    const startButton = document.getElementById('start-button');
    const questionContainer = document.getElementById('question-container');
    const actionsContainer = document.getElementById('actions-container');
    
    startButton.style.display = 'none';
    questionContainer.style.display = 'block';
    actionsContainer.style.display = 'block';
    sessionStorage.setItem('gameStarted', true);

    countdown = setInterval(() => {
      fetch('/time_left')
        .then(response => response.json())
        .then(data => {
          timeLeft = data.time_left;
          timerElement.textContent = timeLeft;

          if (timeLeft <= 0) {
            clearInterval(countdown);
            timerElement.textContent = "¡Tiempo terminado!";
            document.getElementById('time-trial-form').submit();
          }
        })
        .catch(error => console.error('Error fetching time:', error));
    }, 1000);
  }

  window.onload = () => {
    const gameStarted = sessionStorage.getItem('gameStarted');
    if (gameStarted) {
      startTimer();
    }
    
    document.getElementById('start-button').addEventListener('click', startTimer);
  };
  </script>
</head>
<body>
  <div class="time-trial-container">
    <h1>Time Trial</h1>
    <div class="time-trial-content">
      <div class="timer">
        <i class="fas fa-stopwatch"></i>
        <span id="timer"><%= session[:time_left] %></span>
      </div>
      <div id="question-container" style="display:<%= session[:game_started] ? 'block' : 'none' %>;">
        <form id="time-trial-form" method="POST" action="/timeTrial">
          <div class="question">
            <p><%= @current_question.description %></p>
          </div>
          <div class="answers">
            <% @current_question.answers_time_trial.each do |answer| %>
              <br>
              <label>
                <input type="radio" name="answer" value="<%= answer.id %>">
              </label> <%= answer.description %><br>
            <% end %>
          </div>
          <br>
          <div id="actions-container" style="display:block;">
            <button type="submit" class="button">Responder</button>
          </div>
        </form>
      </div>
      <button id="start-button" class="button" style="display:<%= session[:game_started] ? 'none' : 'block' %>;">Iniciar</button>
    </div>
  </div>
</body>
</html>
